* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
}

.App {
  min-height: 100vh;
  background: #090909;
}
/* HEADER */
.header {
  background-image: url("../image/header-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner {
  background-color: rgba(41, 44, 48, 0.27);
}

.header__nav {
  display: flex;
  align-items: center;
}

nav.header__nav ul {
  display: flex;
  list-style: none;
}

nav.header__nav ul li {
  margin: 0 23px;
}

nav.header__nav ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: white;
}

.header__inner img.logo  {
  padding: 40px 30px 40px 30px;
  width: 200px;
}

.callbtn {
    cursor: pointer;
    width: 200px;
    height: 45px;
}

.header h1, h2, .order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    margin-top: 160px;
    text-transform: uppercase;
    font-size: 70px;
}

.header h2 {
    margin-top: 30px;
    font-size: 33px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.order-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    margin-top: 100px;
    padding: 20px 70px;
    border: transparent; 
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(20.79deg, #F6E188 -22.06%, #A56A28 15.96%, #E2AC54 40.29%, #F2DA82 69.17%, #BB772C 96.54%, #EDA948 130%);
}

