.our-projects .down-content {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    margin-top: 60px;
  }
  
  .apartments h3 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 19.92px;
    margin-bottom: 20px;
  }
  .apartments img {
    cursor: pointer;
  }
  
  .luxe-apartments {
    margin-top: 200px;
  }
  
  .luxe-apartments h3,
  .business-center h3 {
    color: #C0C0C0;
  }
  
  .business-center {
    margin-top: -60px;
  }
  
  .pattern-abs__up {
    position: absolute;
    bottom: 480px;
    left: 463px;
    z-index: -1;
  }
  
  
  .pattern-abs__down {
    position: absolute;
    bottom: 140px;
    right: 440px;
    z-index: -1;
  }

  .sliderToPercent {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sliderToPercent span {
    position: relative;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    top: 37px;

  }


  .sliderToPercent span:first-child {
    right: 20px;

  }

  .sliderToPercent span:last-child {
    left: 20px;
  }

    .slider-track-percent {
    margin-top: 75px;
    max-width: 403px;
    height: 8px;
    border-radius: 24px;
  } 

