.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-inf {
  min-width: 670px;
  margin-bottom: 0;
  margin-left: 70px;
}

.slider-row img {
    display: flex;
    gap: 20px;
  min-width: 570px;
  max-height: 384px;
  border-radius: 10px;
}

.slider-row h3 {
  text-transform: uppercase;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 26.95px;
}

.slider-row li {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.38px;
  color: #c0c0c0;
  position: relative;
  margin: 20px 0px 15px 0;
  max-width: 565px;
  padding-left: 100px;
}

.slider-row ul li::after {
  content: "";
  position: absolute;
  top: 8px;
  bottom: 0;
  left: -40px;
  right: 0;
  background-image: url("../../assets/image/our_services/dot.png");
  background-repeat: no-repeat;
  margin-left: 100px;
}

.slider-controls > img {
  cursor: pointer;
  padding: 0 80px;
}

.slider-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.slider-controls-adaptive {
  display: none;
}

@media (max-width: 1200px) {
  .slider-controls > img {
    padding: 0 40px;
  }
  
}

@media (max-width: 968px) {
  .slider-controls > img {
    padding: 0 10px;
  }
  .slider-row h3 {
    font-size: 20px;
  }
  .slider-row ul li {
    font-size: 14px;
  }

}

@media (max-width: 750px) {
  .for-adaptive {
    display: none;
  }
  .slider-controls-adaptive {
    display: block;
  } 

  .slider__container{
    flex-direction: column
    ;
  }
  
  .slider-general__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }
}
